TTSystem/SolverGUI/Connected Services/TTSvc/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TTServ" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="DualEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TTService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITTServ_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="ITTServ_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetUserByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmail" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetUserByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="ITTServ_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AddTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTicket" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AddTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTickets" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTicketsByType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsByType" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTicketsByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicket" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ITTServ_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="ITTServ_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetUserLogged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLogged" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetUserLogged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLoggedResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="ITTServ_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="ITTServ_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_RegisterSolver_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterSolver" />
  </wsdl:message>
  <wsdl:message name="ITTServ_RegisterSolver_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterSolverResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_LoginSolver_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginSolver" />
  </wsdl:message>
  <wsdl:message name="ITTServ_LoginSolver_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginSolverResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetSolver_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSolver" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetSolver_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSolverResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetUnassignedTT_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnassignedTT" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetUnassignedTT_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnassignedTTResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetSolverTT_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSolverTT" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetSolverTT_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSolverTTResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetSolverTTByType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSolverTTByType" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetSolverTTByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSolverTTByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AssignTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignTicket" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AssignTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AnswerTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:AnswerTicket" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AnswerTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnswerTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_RedirectTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:RedirectTicket" />
  </wsdl:message>
  <wsdl:message name="ITTServ_RedirectTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:RedirectTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_MyQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:MyQuestions" />
  </wsdl:message>
  <wsdl:message name="ITTServ_MyQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:MyQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AddDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDepartment" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AddDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_CheckDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckDepartment" />
  </wsdl:message>
  <wsdl:message name="ITTServ_CheckDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestions" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestion" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AnswerQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:AnswerQuestion" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AnswerQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnswerQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_NewTT_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NewTT" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AssignedTT_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AssignedTT" />
  </wsdl:message>
  <wsdl:portType name="ITTServ">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/AddUser" message="tns:ITTServ_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/AddUserResponse" message="tns:ITTServ_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/CheckUser" message="tns:ITTServ_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/CheckUserResponse" message="tns:ITTServ_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetUser" message="tns:ITTServ_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetUserResponse" message="tns:ITTServ_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetUserByEmail" message="tns:ITTServ_GetUserByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetUserByEmailResponse" message="tns:ITTServ_GetUserByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/UpdateUser" message="tns:ITTServ_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/UpdateUserResponse" message="tns:ITTServ_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/AddTicket" message="tns:ITTServ_AddTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/AddTicketResponse" message="tns:ITTServ_AddTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetTickets" message="tns:ITTServ_GetTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetTicketsResponse" message="tns:ITTServ_GetTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketsByType">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetTicketsByType" message="tns:ITTServ_GetTicketsByType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetTicketsByTypeResponse" message="tns:ITTServ_GetTicketsByType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetTicket" message="tns:ITTServ_GetTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetTicketResponse" message="tns:ITTServ_GetTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/Login" message="tns:ITTServ_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/LoginResponse" message="tns:ITTServ_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/Logout" message="tns:ITTServ_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/LogoutResponse" message="tns:ITTServ_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLogged">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetUserLogged" message="tns:ITTServ_GetUserLogged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetUserLoggedResponse" message="tns:ITTServ_GetUserLogged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/Subscribe" message="tns:ITTServ_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/SubscribeResponse" message="tns:ITTServ_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/Unsubscribe" message="tns:ITTServ_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/UnsubscribeResponse" message="tns:ITTServ_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterSolver">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/RegisterSolver" message="tns:ITTServ_RegisterSolver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/RegisterSolverResponse" message="tns:ITTServ_RegisterSolver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginSolver">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/LoginSolver" message="tns:ITTServ_LoginSolver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/LoginSolverResponse" message="tns:ITTServ_LoginSolver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSolver">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetSolver" message="tns:ITTServ_GetSolver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetSolverResponse" message="tns:ITTServ_GetSolver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnassignedTT">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetUnassignedTT" message="tns:ITTServ_GetUnassignedTT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetUnassignedTTResponse" message="tns:ITTServ_GetUnassignedTT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSolverTT">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetSolverTT" message="tns:ITTServ_GetSolverTT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetSolverTTResponse" message="tns:ITTServ_GetSolverTT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSolverTTByType">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetSolverTTByType" message="tns:ITTServ_GetSolverTTByType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetSolverTTByTypeResponse" message="tns:ITTServ_GetSolverTTByType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/AssignTicket" message="tns:ITTServ_AssignTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/AssignTicketResponse" message="tns:ITTServ_AssignTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnswerTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/AnswerTicket" message="tns:ITTServ_AnswerTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/AnswerTicketResponse" message="tns:ITTServ_AnswerTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RedirectTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/RedirectTicket" message="tns:ITTServ_RedirectTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/RedirectTicketResponse" message="tns:ITTServ_RedirectTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MyQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/MyQuestions" message="tns:ITTServ_MyQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/MyQuestionsResponse" message="tns:ITTServ_MyQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/AddDepartment" message="tns:ITTServ_AddDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/AddDepartmentResponse" message="tns:ITTServ_AddDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/CheckDepartment" message="tns:ITTServ_CheckDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/CheckDepartmentResponse" message="tns:ITTServ_CheckDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetDepartments" message="tns:ITTServ_GetDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetDepartmentsResponse" message="tns:ITTServ_GetDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetQuestions" message="tns:ITTServ_GetQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetQuestionsResponse" message="tns:ITTServ_GetQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetQuestion" message="tns:ITTServ_GetQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetQuestionResponse" message="tns:ITTServ_GetQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnswerQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/AnswerQuestion" message="tns:ITTServ_AnswerQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/AnswerQuestionResponse" message="tns:ITTServ_AnswerQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewTT">
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/NewTT" message="tns:ITTServ_NewTT_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignedTT">
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/AssignedTT" message="tns:ITTServ_AssignedTT_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DualEndpoint" type="tns:ITTServ">
    <wsp:PolicyReference URI="#DualEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/CheckUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/GetUserByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTicket">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/AddTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTickets">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/GetTickets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketsByType">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/GetTicketsByType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicket">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/GetTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserLogged">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/GetUserLogged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterSolver">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/RegisterSolver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginSolver">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/LoginSolver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSolver">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/GetSolver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnassignedTT">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/GetUnassignedTT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSolverTT">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/GetSolverTT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSolverTTByType">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/GetSolverTTByType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignTicket">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/AssignTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnswerTicket">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/AnswerTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedirectTicket">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/RedirectTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyQuestions">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/MyQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDepartment">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/AddDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckDepartment">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/CheckDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/GetDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestions">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/GetQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestion">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/GetQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnswerQuestion">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/AnswerQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewTT">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/NewTT" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignedTT">
      <soap12:operation soapAction="http://tempuri.org/ITTServ/AssignedTT" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TTServ">
    <wsdl:port name="DualEndpoint" binding="tns:DualEndpoint">
      <soap12:address location="http://localhost:8733/Design_Time_Addresses/TTService/TTServ" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8733/Design_Time_Addresses/TTService/TTServ</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>