TTSystem/SolverGUI/Connected Services/TTSolver/TTSolverSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TTSolverSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="DualEndpoint_ITTSolverSvc_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63756/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63756/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63756/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TTService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITTSolverSvc_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_RegisterSolver_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterSolver" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_RegisterSolver_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterSolverResponse" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_LoginSolver_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginSolver" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_LoginSolver_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginSolverResponse" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_GetSolver_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSolver" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_GetSolver_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSolverResponse" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_GetUnassignedTT_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnassignedTT" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_GetUnassignedTT_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnassignedTTResponse" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_GetSolverTT_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSolverTT" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_GetSolverTT_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSolverTTResponse" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_GetSolverTTByType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSolverTTByType" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_GetSolverTTByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSolverTTByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_AssignTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignTicket" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_AssignTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_AnswerTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:AnswerTicket" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_AnswerTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnswerTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_RedirectTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:RedirectTicket" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_RedirectTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:RedirectTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_MyQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:MyQuestions" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_MyQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:MyQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_NewTT_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NewTT" />
  </wsdl:message>
  <wsdl:message name="ITTSolverSvc_AssignedTT_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AssignedTT" />
  </wsdl:message>
  <wsdl:portType name="ITTSolverSvc">
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTSolverSvc/Hello" message="tns:ITTSolverSvc_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTSolverSvc/HelloResponse" message="tns:ITTSolverSvc_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTSolverSvc/Subscribe" message="tns:ITTSolverSvc_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTSolverSvc/SubscribeResponse" message="tns:ITTSolverSvc_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTSolverSvc/Unsubscribe" message="tns:ITTSolverSvc_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTSolverSvc/UnsubscribeResponse" message="tns:ITTSolverSvc_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterSolver">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTSolverSvc/RegisterSolver" message="tns:ITTSolverSvc_RegisterSolver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTSolverSvc/RegisterSolverResponse" message="tns:ITTSolverSvc_RegisterSolver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginSolver">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTSolverSvc/LoginSolver" message="tns:ITTSolverSvc_LoginSolver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTSolverSvc/LoginSolverResponse" message="tns:ITTSolverSvc_LoginSolver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSolver">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTSolverSvc/GetSolver" message="tns:ITTSolverSvc_GetSolver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTSolverSvc/GetSolverResponse" message="tns:ITTSolverSvc_GetSolver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnassignedTT">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTSolverSvc/GetUnassignedTT" message="tns:ITTSolverSvc_GetUnassignedTT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTSolverSvc/GetUnassignedTTResponse" message="tns:ITTSolverSvc_GetUnassignedTT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSolverTT">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTSolverSvc/GetSolverTT" message="tns:ITTSolverSvc_GetSolverTT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTSolverSvc/GetSolverTTResponse" message="tns:ITTSolverSvc_GetSolverTT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSolverTTByType">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTSolverSvc/GetSolverTTByType" message="tns:ITTSolverSvc_GetSolverTTByType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTSolverSvc/GetSolverTTByTypeResponse" message="tns:ITTSolverSvc_GetSolverTTByType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTSolverSvc/AssignTicket" message="tns:ITTSolverSvc_AssignTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTSolverSvc/AssignTicketResponse" message="tns:ITTSolverSvc_AssignTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnswerTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTSolverSvc/AnswerTicket" message="tns:ITTSolverSvc_AnswerTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTSolverSvc/AnswerTicketResponse" message="tns:ITTSolverSvc_AnswerTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RedirectTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTSolverSvc/RedirectTicket" message="tns:ITTSolverSvc_RedirectTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTSolverSvc/RedirectTicketResponse" message="tns:ITTSolverSvc_RedirectTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MyQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTSolverSvc/MyQuestions" message="tns:ITTSolverSvc_MyQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTSolverSvc/MyQuestionsResponse" message="tns:ITTSolverSvc_MyQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewTT">
      <wsdl:output wsaw:Action="http://tempuri.org/ITTSolverSvc/NewTT" message="tns:ITTSolverSvc_NewTT_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignedTT">
      <wsdl:output wsaw:Action="http://tempuri.org/ITTSolverSvc/AssignedTT" message="tns:ITTSolverSvc_AssignedTT_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DualEndpoint_ITTSolverSvc" type="tns:ITTSolverSvc">
    <wsp:PolicyReference URI="#DualEndpoint_ITTSolverSvc_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hello">
      <soap12:operation soapAction="http://tempuri.org/ITTSolverSvc/Hello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/ITTSolverSvc/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/ITTSolverSvc/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterSolver">
      <soap12:operation soapAction="http://tempuri.org/ITTSolverSvc/RegisterSolver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginSolver">
      <soap12:operation soapAction="http://tempuri.org/ITTSolverSvc/LoginSolver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSolver">
      <soap12:operation soapAction="http://tempuri.org/ITTSolverSvc/GetSolver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnassignedTT">
      <soap12:operation soapAction="http://tempuri.org/ITTSolverSvc/GetUnassignedTT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSolverTT">
      <soap12:operation soapAction="http://tempuri.org/ITTSolverSvc/GetSolverTT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSolverTTByType">
      <soap12:operation soapAction="http://tempuri.org/ITTSolverSvc/GetSolverTTByType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignTicket">
      <soap12:operation soapAction="http://tempuri.org/ITTSolverSvc/AssignTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnswerTicket">
      <soap12:operation soapAction="http://tempuri.org/ITTSolverSvc/AnswerTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedirectTicket">
      <soap12:operation soapAction="http://tempuri.org/ITTSolverSvc/RedirectTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MyQuestions">
      <soap12:operation soapAction="http://tempuri.org/ITTSolverSvc/MyQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewTT">
      <soap12:operation soapAction="http://tempuri.org/ITTSolverSvc/NewTT" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignedTT">
      <soap12:operation soapAction="http://tempuri.org/ITTSolverSvc/AssignedTT" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TTSolverSvc">
    <wsdl:port name="DualEndpoint_ITTSolverSvc" binding="tns:DualEndpoint_ITTSolverSvc">
      <soap12:address location="http://localhost:63756/Service.svc/Service.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:63756/Service.svc/Service.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>