TTSystem/DepartmentGUI/Connected Services/TTSvc/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63756/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TTService" />
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="GetUserResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="GetUserByEmailResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="GetTicketsResult" nillable="true" type="q4:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="user" nillable="true" type="q5:User" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="status" type="q6:TicketStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="GetTicketsByTypeResult" nillable="true" type="q7:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="user" nillable="true" type="q8:User" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="GetTicketResult" nillable="true" type="q9:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLogged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLoggedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="GetUserLoggedResult" nillable="true" type="q10:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSolver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSolverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSolverResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSolver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSolverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckSolverResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="GetSolverResult" nillable="true" type="q11:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsUnassigned">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsUnassignedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="GetTicketsUnassignedResult" nillable="true" type="q12:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsSolver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="solver" nillable="true" type="q13:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsSolverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="GetTicketsSolverResult" nillable="true" type="q14:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsByTypeSolver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="solver" nillable="true" type="q15:User" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="status" type="q16:TicketStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsByTypeSolverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="GetTicketsByTypeSolverResult" nillable="true" type="q17:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicket" type="xs:int" />
        <xs:element minOccurs="0" name="idSolver" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnswerTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solver" type="xs:int" />
        <xs:element minOccurs="0" name="senderTicket" type="xs:int" />
        <xs:element minOccurs="0" name="ticket" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnswerTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnswerTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RedirectTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticket" type="xs:int" />
        <xs:element minOccurs="0" name="solver" type="xs:int" />
        <xs:element minOccurs="0" name="redirectMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RedirectTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RedirectTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="GetQuestionsResult" nillable="true" type="q18:ArrayOfSecondaryQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="GetQuestionResult" nillable="true" type="q19:SecondaryQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnswerQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TTService" minOccurs="0" name="question" nillable="true" type="q20:SecondaryQuestion" />
        <xs:element minOccurs="0" name="department" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="responseMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnswerQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnswerQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>