TTSystem/DepartmentGUI/Connected Services/TTSvc/TTServ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TTServ" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63756/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63756/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63756/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TTService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITTServ_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="ITTServ_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="ITTServ_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AddTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTicket" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AddTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTickets" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTicketsByType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsByType" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTicketsByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicket" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AddSolver_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSolver" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AddSolver_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSolverResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_CheckSolver_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckSolver" />
  </wsdl:message>
  <wsdl:message name="ITTServ_CheckSolver_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckSolverResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetSolver_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSolver" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetSolver_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSolverResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTicketsSolver_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsSolver" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTicketsSolver_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsSolverResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTicketsByTypeSolver_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsByTypeSolver" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetTicketsByTypeSolver_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsByTypeSolverResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AnswerTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:AnswerTicket" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AnswerTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnswerTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_RedirectTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:RedirectTicket" />
  </wsdl:message>
  <wsdl:message name="ITTServ_RedirectTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:RedirectTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_CheckDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckDepartment" />
  </wsdl:message>
  <wsdl:message name="ITTServ_CheckDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartment" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestions" />
  </wsdl:message>
  <wsdl:message name="ITTServ_GetQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AnswerQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:AnswerQuestion" />
  </wsdl:message>
  <wsdl:message name="ITTServ_AnswerQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnswerQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="ITTServ">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/AddUser" message="tns:ITTServ_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/AddUserResponse" message="tns:ITTServ_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/CheckUser" message="tns:ITTServ_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/CheckUserResponse" message="tns:ITTServ_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetUser" message="tns:ITTServ_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetUserResponse" message="tns:ITTServ_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/UpdateUser" message="tns:ITTServ_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/UpdateUserResponse" message="tns:ITTServ_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/AddTicket" message="tns:ITTServ_AddTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/AddTicketResponse" message="tns:ITTServ_AddTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetTickets" message="tns:ITTServ_GetTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetTicketsResponse" message="tns:ITTServ_GetTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketsByType">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetTicketsByType" message="tns:ITTServ_GetTicketsByType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetTicketsByTypeResponse" message="tns:ITTServ_GetTicketsByType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetTicket" message="tns:ITTServ_GetTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetTicketResponse" message="tns:ITTServ_GetTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSolver">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/AddSolver" message="tns:ITTServ_AddSolver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/AddSolverResponse" message="tns:ITTServ_AddSolver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckSolver">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/CheckSolver" message="tns:ITTServ_CheckSolver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/CheckSolverResponse" message="tns:ITTServ_CheckSolver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSolver">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetSolver" message="tns:ITTServ_GetSolver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetSolverResponse" message="tns:ITTServ_GetSolver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketsSolver">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetTicketsSolver" message="tns:ITTServ_GetTicketsSolver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetTicketsSolverResponse" message="tns:ITTServ_GetTicketsSolver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketsByTypeSolver">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetTicketsByTypeSolver" message="tns:ITTServ_GetTicketsByTypeSolver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetTicketsByTypeSolverResponse" message="tns:ITTServ_GetTicketsByTypeSolver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnswerTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/AnswerTicket" message="tns:ITTServ_AnswerTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/AnswerTicketResponse" message="tns:ITTServ_AnswerTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RedirectTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/RedirectTicket" message="tns:ITTServ_RedirectTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/RedirectTicketResponse" message="tns:ITTServ_RedirectTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/CheckDepartment" message="tns:ITTServ_CheckDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/CheckDepartmentResponse" message="tns:ITTServ_CheckDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetDepartment" message="tns:ITTServ_GetDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetDepartmentResponse" message="tns:ITTServ_GetDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/GetQuestions" message="tns:ITTServ_GetQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/GetQuestionsResponse" message="tns:ITTServ_GetQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnswerQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/ITTServ/AnswerQuestion" message="tns:ITTServ_AnswerQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITTServ/AnswerQuestionResponse" message="tns:ITTServ_AnswerQuestion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITTServ" type="tns:ITTServ">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/ITTServ/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/ITTServ/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ITTServ/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/ITTServ/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTicket">
      <soap:operation soapAction="http://tempuri.org/ITTServ/AddTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTickets">
      <soap:operation soapAction="http://tempuri.org/ITTServ/GetTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketsByType">
      <soap:operation soapAction="http://tempuri.org/ITTServ/GetTicketsByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicket">
      <soap:operation soapAction="http://tempuri.org/ITTServ/GetTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSolver">
      <soap:operation soapAction="http://tempuri.org/ITTServ/AddSolver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSolver">
      <soap:operation soapAction="http://tempuri.org/ITTServ/CheckSolver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSolver">
      <soap:operation soapAction="http://tempuri.org/ITTServ/GetSolver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketsSolver">
      <soap:operation soapAction="http://tempuri.org/ITTServ/GetTicketsSolver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketsByTypeSolver">
      <soap:operation soapAction="http://tempuri.org/ITTServ/GetTicketsByTypeSolver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnswerTicket">
      <soap:operation soapAction="http://tempuri.org/ITTServ/AnswerTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedirectTicket">
      <soap:operation soapAction="http://tempuri.org/ITTServ/RedirectTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckDepartment">
      <soap:operation soapAction="http://tempuri.org/ITTServ/CheckDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <soap:operation soapAction="http://tempuri.org/ITTServ/GetDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestions">
      <soap:operation soapAction="http://tempuri.org/ITTServ/GetQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnswerQuestion">
      <soap:operation soapAction="http://tempuri.org/ITTServ/AnswerQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TTServ">
    <wsdl:port name="BasicHttpBinding_ITTServ" binding="tns:BasicHttpBinding_ITTServ">
      <soap:address location="http://localhost:63756/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>